.lessons {
    // overflow: scroll;
    border: 1px solid #babec3;
    border-radius: 24px 24px 0px 0px;
    padding-left: 96px;
    margin-top: 5px;
    margin-left: 38px;
    margin-right: 52px;
    &__header {
        display: flex;
        align-items: center;
        margin-top: 37px;
        margin-bottom: 36px;
        font-size: 30px;
        font-weight: 600;
    }
    &__header h3 {
        color: #9ca2a7;
        margin-right: 11px;
    }
    &__header b {
        font-family: "Inter", sans-serif;
    }
    &__header button {
        position: absolute;
        transform: translateX(1150px);
        border: none;
        background-color: inherit;
    }
    &__card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 30px;
        &_icon{
            margin-top: 4px;
        }
        &_title{
            transform: translateX(-260px);
            color: #17222B;
        }
        &_time{
            margin-left: 100px;
        }
        &_btn{
            display: flex;
            gap: 10px;
            width: 169px;
            height: 44px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            background-color: #166199;
            border-radius: 8px;
            margin-left: 100px;
            padding-left: 18px;  
            padding-top: 10px;
            border: none;
        }
        &_hideBtn{
            position: absolute;
            display: flex;
            // align-items: center;
            gap: 10px;
            width: 169px;
            height: 44px;
            background-color: #008E76;
            color: #fff;
            font-size: 18px;
            border-radius: 8px;
            padding-left: 15px;
            padding-top: 10px;
            margin-left: 100px;
            border: none;
        }
    }

}
.btn-clicked {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}
.btn-clicked-2 {
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

