.lists{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__link{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #166199;
        margin-top: 20px;
        margin-right: 640px;
    }
    &__file{
            width: 159px;
            font-weight: 500;
            color: #29A0E3;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            margin-right: 18px;
            border: none;
        }
        &__file span{
            margin-left: 4px;
        }
        &__btn{
            width: 168px;
            height: 44px;
            font-size: 18px;
            color: #fff;
            background-color: #166199;
            margin-top: 15px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
}